.ListTask{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ListTask .ListTask-item {
    display: flex;
    justify-content: space-around;
}

.ListTask .ListTask-item.completed {
    text-decoration: line-through;
}