.App {
  text-align: center;
  margin: 0 auto;
}

@media ( min-width: 992px ) {
  .App {
    width: 50vw;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem
}